{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body >
    <div class="p-9 flex justify-center">
        <form method="POST" class="space-y-4 bg-rose-300 p-6 rounded shadow-md w-100">
            {% csrf_token %}
            <div class="px-4 py-2"> 
                <p>Please type your username :</p>
                <input class="px-4 py-2" type="text" placeholder="username" name="username"> 
            </div>
            
            <div class="px-4 py-2">
                <p>Typer your password :</p>
                <input class="px-4 py-2" type="password" placeholder="password" name="password"> 
            </div>
            <div class="text-center py-5"> 
                <button class="bg-blue-700 text-white px-2 py-1 rounded-sm hover:bg-yellow-400" type="submit">SignIn</button> 
            </div>
        </form>
    </div>
</body>
</html>