<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the homepage youre wellcome</h1>
    {% if user.is_authenticated %}
        {{user}}
        <form action="{% url 'log-out' %}" method="POST">
            {% csrf_token %}
            <button type="submit">LogOut</button>
            
        </form>

    {% else %}
        Annonymous
    {% endif %}

</body>
</html>