<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <!-- This goes below the stats grid -->
<div class="mt-8 bg-red-200 rounded-md">
  <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-4">
    <!-- Event Card 1 -->
    {% if events %}
          <p class="text-center p-4 bg-yellow-200">Get registered Soon if you haven't yet.</p>
          <p class="text-xl font-extrabold mb-4">All Events</p>
      {% for event in events %}
        <div class="p-4 bg-white shadow-md rounded-md border border-purple-200">
          <p class="text-lg font-bold">{{event.name}}</p>
          <p class="text-gray-600">Category: {{event.category}}</p>
          <p class="text-gray-600">Participants: {{event.partcpnts}}</p>
          <p class="text-gray-600">Date: {{event.date}}</p>
          <p class="text-gray-600 flex justify-between">Location: {{event.location}}</p>
        </div>
      {% endfor %}
      {% else %} <p class="text-center">No Upcoming Events are registered </p>
    
    {% endif %}
  </div>
</div>

    
</body>
</html>