<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>past Events</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <!-- This goes below the stats grid -->
<div class="mt-8 bg-red-200 rounded-md">
  <p class="text-xl font-extrabold mb-4">All Events</p>

  <div class="grid md:grid-cols-1 lg:grid-cols-2 gap-4">

    <!-- Event Card 1 -->
     {% if events %}
      {% for event in events %}
        <div class="p-4 bg-white shadow-md rounded-md border border-purple-200">
          <p class="text-lg font-bold">{{event.name}}</p>
          <p class="text-gray-600">Category: {{event.category}}</p>
          <p class="text-gray-600">Participants: {{event.partcpnts}}</p>
          <p class="text-gray-600">Date: {{event.date}}</p>
          <p class="text-gray-600 flex justify-between">Location: {{event.location}}
            <span class="text-right py-2 px-3 rounded-md bg-green-300">Completed</span>
          </p>
        </div>
      {% endfor %}
    {% endif %}

  </div>
</div>

    
</body>
</html>